/*Este estilo es para todo lo que se encuentra en el body el color de fondo*/
 body { 
   padding: 20px; 
   background-color:#B4D1FA; } 
   /* Container encierra al contenido dentro de cierto parametro  funciona para que sea responsivo*/
 .container { 
   max-width: 450px; 
   margin: 0 auto; } 
   
/*Cambiandole color  letra a los h2*/
 h2 { 
   color: white;
   } 
/*Estilo a la cajita qu contiene el balance*/
  .balance { background-color: aliceblue; 
  border-radius: 4px; 
  color:#6c757d; 
  padding: 10px; 
  text-align: center; }
  
  .selected { 
    background-color: #d1e7ff !important; 
    border: 2px solid #0d6efd; 
    font-weight: bold; 
    
  }
/*En  este estilo se muestra un cursor para seleccionar un contacto.*/    
  .list-group-item { 
    cursor: pointer; 
    
  }
/*En este estilo se cambia de colorpara diferenciar el monto positivo 
o negativo relacionado al balance.*/
  .monto-positivo { 
    color: green; <
    font-weight: bold;
    }
  .monto-negativo { 
    color: red; font-weight: bold; 
    
  }